.chartContainer {
  background: #212529;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: white;
}

.chartContainer h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
} 