.matchGrid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.square {
  position: relative;
  width: 1px;
  height: 40px;
  margin: 5px;
}

.matchStick {
  position: absolute;
  width: 35px;
  height: 3px;
}

.stick {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #d4a76a, #b38752);
}

.head {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #ff6b4a;
  border-radius: 50%;
  right: -3px;
  top: -1.5px;
  box-shadow: 0 0 5px #ff6b4a;
}

.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(90deg);
}

.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
} 